body {
    background: #14213D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
    text-decoration: none;
}

#logo-link {
    margin-right: auto;
    padding: 20px;
}
 
.top-right-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
    max-width: calc(100%-150px);
    padding-right: 40px;
}

.top-right-container a {
    margin-left: 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0 20px;
    color: #FCA311;
}

h2 {
    color: #e5e5e5;
}

p#gp {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #e5e5e5;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #FCA311;
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
}

h3 {
    color: #FCA311;
}