body {
    background: #14213D;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
    text-decoration: none;
}

#logo-link {
    margin-right: 20px;
}
 
.top-right-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.top-right-container a {
    margin-left: 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0 20px;
    color: #FCA311;
}

h2 {
    color: #e5e5e5;
}

p#greet {
    font-family: 'Roboto', sans-serif;
    color: #FCA311;
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
}

p#gp {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #e5e5e5;
    margin: 0;
    padding-top: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #adb5bd;
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
}

h3 {
    color: #FCA311;
}

#hiddenElement {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    margin-top: 40px;
}
  
#hiddenElement.shown {
    opacity: 1;
    max-height: 100px; /* Set a suitable max-height for your element */
}

a#hidden {
    font-family: 'Roboto', sans-serif;
    color: #FCA311;
    font-size: 20px;
    margin: 0;
}